<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
	
	<jdbc:embedded-database id="dataSource" type="H2">
		<jdbc:script location="classpath:/ddl.sql" />
	</jdbc:embedded-database>
	
	<bean class="com.zenika.blog.mybatis.impl.jdbctemplate.JdbcTemplateSessionDao" />
</beans>