<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>zenikadataServlet</servlet-name>
		<servlet-class>com.zenika.demo.mobile.gwt.server.ZenikaDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>zenikadataServlet</servlet-name>
		<url-pattern>/ZenikaMobile/zenikadata</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ZenikaMobile.html</welcome-file>
	</welcome-file-list>

</web-app>
