<!DOCTYPE html>
<html class="avatar_jquery">
    <head>
        <title>Hello</title>
        <script>
            var require = {
                 baseUrl: "bin/",
                 waitSeconds: 0,
                 paths: {
                     "jquery": "jquery/jquery-1.9.1"
                 },
                 shim: {
                     "org/glassfish/avatar": {
                        deps: ["jquery", 
                        ]
                     }
                 }
             };
        </script>
        <link rel="stylesheet" href="css/avatar.css" >
        <link rel="stylesheet" href="bin/jquery/css/avatar/jquery.ui.theme.css" >
        <script src="bin/jquery/require.min.js"></script>
        <script>
            require(["org/glassfish/avatar", "application"],
                    function (avatar, application) {
                        $(function () {
                            window.avatar = avatar.getAvatar();
                            window.avatar.assertModernBrowser();
                            window.avatar.location = avatar.getLocation();
                            window.avatar.node = $('#avatar')[0];
                            window.avatar.activateModule(application, function () {
                                var mainModule = "hello",
                                hash = location.hash ? location.hash.substring(1) : "";
                                if (hash) {
                                    mainModule = hash;
                                }
                                window.avatar.switchToHash(mainModule);
                                location.hash = mainModule;
                                $(window).bind("hashchange", function() {
                                    var hash = location.hash;
                                    window.avatar.switchToHash(hash.substring(1));
                                });
                                window.avatar.callReady();
                            });
                        });
                    });
        </script>
    </head>
    <body>
        <div id="avatar"></div>
    </body>
</html>
