<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
	<script data-model="rest">
		var Server = function() { this.name = ''; };
	</script>
	<script data-model="push">
		var Updates = function() { this.hour = this.minute = this.second = this.day = this.Month = this.year = ''; };
	</script>
  	<script data-type="Server" data-instance="server" data-url="data/name"></script>
	<script data-type="Updates" data-instance="updates" data-url="push/time"></script>
	
	<h2>Service Rest</h2>
	<span id="output">Hello #{server.name}</span>
        <input size="24" id="name" data-value="#{server.name}"/>
        <button onclick="#{server.$put()}" id="set">Send</button>
	
	<h2>Service SSE</h2>
       	<output class="time">Time: </output><output class="time">#{updates.hour}:#{updates.minute}:#{updates.second}</output><br>
       	<output class="time">Date: </output><output class="time">#{updates.day}/#{updates.Month}/#{updates.year}</output><br>
        
    </body>
</html>
